.tabs-fill .bp3-tab-indicator-wrapper {
  display: inline-block;
}

.tabs-fill .bp3-tab-indicator-wrapper:nth-child(1) {
  width: 100%;
}

.tabs-fill .bp3-tab-indicator-wrapper:nth-child(2) {
  width: 50%;
}

.tabs-fill .bp3-tab-indicator-wrapper:nth-child(3) {
  width: 33%;
}

.tabs-fill .bp3-tab-indicator-wrapper:nth-child(4) {
  width: 25%;
}

.tabs-fill .bp3-tab {
  display: inline-block;
  text-align: center;
  margin-right: 0;
}

.tabs-fill .bp3-tab:nth-last-child(1) {
  width: 100%;
}

.tabs-fill .bp3-tab:nth-last-child(2),
.tabs-fill .bp3-tab:nth-last-child(2) ~ .bp3-tab {
  width: 50%;
}

.tabs-fill .bp3-tab:nth-last-child(3),
.tabs-fill .bp3-tab:nth-last-child(3) ~ .bp3-tab {
  width: 33%;
}

.tabs-fill .bp3-tab:nth-last-child(4),
.tabs-fill .bp3-tab:nth-last-child(4) ~ .bp3-tab {
  width: 25%;
}